

/*.top {

	background-image: url('../img/skyline2.png');
	height: 438px;
}*/
body{
	font-family: "Crimson", serif;
  	font-weight: normal;

}
p, .jumbotron p{
	font-size: 18px;
}


#logo {
	/*width: 50%;*/
	margin-left: 10px;
	margin-top: 10px;
}

#name {
	margin-top: 10px;
	margin-left: 0px;
	font-family: 'Dancing Script', cursive, serif;
  	font-weight: 700;
  	font-size: 75px;
  	

}
h1 a, h1 a:hover{
	color:#7c50a7; 	
}


.middle{

	/*background-image: url('../img/cloudycrossA.jpg');
	background-position: left;
	/*background-size: 1100px 900px;*/*/
}


#verse{
	font-family: 'PT Serif', serif;
  font-size: 1.60em;
  font-style: italic;

}

h2{
	color: black;

}


.navbar {

	background: white;
	padding: 0;
	margin: 0;
	width: 100%;
	border-bottom-width: 4px;
	border-bottom-color: #7c50a7;/*purple*/
	 
}

.collapse{

	background: #f3c10a; /*#e3b637;*//*#d68d03;*/
	color: black;
	width: 100%;
	text-align: center;

	/*border-top-style: solid;
	border-top-width: 4px;
	border-top-color: #7c50a7;*//*purple*/

}

ul li{
	text-align: center;
	display: inline-block;
}
 
 ul a{

 	color: black;
 	font-size: 18px;
 	text-align: center
 }




/* Carousel
================================ */

.carousel{
background-image: url("../img/bg2.jpg");
 /*background-color: #000;*/
/* background:none;*/
  margin: 0px;
  padding: 0px;
}
.carousel-inner{
	margin: 0px;
	padding: 0px;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators .active {

  background-color: #222;
}
.carousel-indicators li {
  border-color: #222;
}



/*.btn {

  
  float: center;
  margin-left: 0px;
  border-width: medium;
  font-size: 20px;
  font-style: bold;

}*/

#slides{

  
  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
 

}



#moto{

	text-align: center;
}

.jumbotron{

	/*padding: 20px 20px 20px 20px;*/
	background-image: url("../img/bg.jpg");
	margin-top: 30px;

}

.aboutJumbo, .eventsJumbo {
	background-image: url("../img/bg2.jpg");
}


form{
	margin-left: 20px;
} 

label{
	font-size: 16px;
}

 .first{

 	background: #f3c10a;/*#d68d03;*/
 	border-top-style: solid;
 	border-top-width: 4px;
 	border-top-color:  #7c50a7; /*purple*/
 	
 }

 .first h4{
 	font-size: 16px;

 }

 .day{
 	text-decoration: underline;
 }

 

 #service {
 	text-align: left;
 	font-size: 16px;
 }

 .top h4{
 	text-align: center;
 	font-size: 18px;
 	text-decoration: underline;
 }

 .church{
 	width: 40%;
 	margin-left: 125px;
 	margin-top: 15px;
 }

.second{
	text-align: left;
	border-top-style: solid;
 	border-top-width: 4px;
 	border-top-color:  #7c50a7; /*purple*/
 }

 .second h5{
 	font-weight: bold;
 }


/*************************************************************************/
@media (min-width: 768px) and (max-width: 991px){

	#name{
		font-size: 55px;
	}
	#verse{
		font-size: 1.30em;
	}

	#moto h2{
		font-size: 24px;
	}

	textarea{
		width:300px;
	}
	
}

@media (max-width: 767px){

	#name{
		font-size: 40px;
	}
	#verse{
		font-size: 1.25em;
	}

	#moto h2{
		font-size: 18px;
	}

	textarea{
		width: 250px;
	}

	.contactInfo{
	margin-left: 20px;
}


	.first h4, h5{
		text-align: center;
	}

	.second h5{
 	text-align: center;
 }

 .church{
 	margin-left: 105px;
 }
}